// Web Application
doctype
//if IE 8
   <html class="lt-ie9">
// [if gt IE 8] <!
html(lang='en' data-ng-app='scaffold.app')
    // <![endif]
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Personal blog')
        meta(name='author' content='Luis Galaz')

        title Mezquite Labs android scaffold

        link(rel='stylesheet' href='css/main.css')
        link(rel='icon' href='favicon.ico?v=2' type='image/x-icon')
        link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' type='text/css')
        link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' type='text/css')

    body(ng-controller='WelcomeCtrl')

        div.container
            div.greeting {{greeting}}
            div.logo

        script(type='text/javascript' src='js/bundle.js')


