body
    border none
    font-size 1rem
    height 100%
    background-color: #d3d3d3;
    margin 0
    padding 0
    width 100%

    .logo
        background-image: url("../img/logo.jpg")
        width: 405px
        height: 168px
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .greeting
        position: fixed
        font-family: 'Lora', 'Times New Roman', serif;
        font-style: italic
        font-weight: 800
        font-size: 20px
        top: 20%
        left: 50%
        transform: translate(-50%, -50%)




